<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<menu>
  <category name="Hot Bavarage">
    <item>
      <listing>Americano</listing>
      <price>3.00</price>
    </item>
    <item>
      <listing>Espresso</listing>
      <price>2.50</price>
    </item>
    <item>
      <listing>Cappuccino</listing>
      <price>4.50</price>
    </item>
    <item>
      <listing>Latte</listing>
      <price>3.00</price>
    </item>
    <item decaf="true">
      <listing>Americano decaf</listing>
      <price>3.20</price>
    </item>
  </category>

  <category name="Cold Coffees">
    <item>
      <listing>Iced Coffee</listing>
      <price>3.00</price>
    </item>
    <item>
      <listing>Iced Latte</listing>
      <price>5.00</price>
    </item>
    <item decaf="true">
      <listing>Iced Coffee decaf</listing>
      <price>3.20</price>
    </item>
  </category>

  <category name="Hot Drinks">
    <item>
      <listing>Italian Hot Chocolate</listing>
      <price>5.50</price>
    </item>
    <item>
      <listing>Hot Chocolate</listing>
      <price>3.50</price>
    </item>

  </category>
  <category name="Cold Drinks">
    <item>
      <listing>Saint Pellegrino Limonata</listing>
      <price>3.00</price>
    </item>
    <item>
      <listing>Saint Pellegrino Aranciata</listing>
      <price>3.00</price>
    </item>
     <item>
      <listing>Soft drink</listing>
      <price>2.50</price>
    </item>
    
  </category>
  <category name="Hot Teas">
    <item>
      <listing>Black</listing>
      <price>2.50</price>
    </item>
    <item>
      <listing>Camomile</listing>
      <price>2.50</price>
    </item>
    <item>
      <listing>Berry</listing>
      <price>3.00</price>
    </item>
    <item>
      <listing>Lemon and Ginger</listing>
      <price>3.50</price>
    </item>
  </category>

  <category name="Iced Teas">
    <item>
      <listing>Mango</listing>
      <price>2.50</price>
    </item>
    <item>
      <listing>Lemonade</listing>
      <price>2.50</price>
    </item>
    <item>
      <listing>Chai</listing>
      <price>2.50</price>
    </item>
    <item>
      <listing>Peach</listing>
      <price>2.50</price>
    </item>
  </category>

  <category name="Time">
    <item>
      <listing>30 min</listing>
      <price>0.50</price>
    </item>
    <item>
      <listing>1 hour</listing>
      <price>1.00</price>
    </item>
    <item>
      <listing>3 hours</listing>
      <price>2.50</price>
    </item>
    <item>
      <listing>5 hours</listing>
      <price>4.50</price>
    </item>
  </category>
</menu>